<!DOCTYPE html>
<html lang="en">

<head>
  <title>Adam Murray :: 8th Birthday Bushcraft Party</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Adam's long-delayed birthday party is finally happening on 15th May 2022">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/party.css">
</head>

<body>

  <div class="container">
    {{{body}}}
  </div>

</body>
</html>
