<header>
  <h1>Adam&rsquo;s Bushcraft Party</h1>
</header>

<main>

	<section>
		<p>Hi. If you&rsquo;re reading this, you (and/or your child 😉) have been invited to Adam&rsquo;s (delayed) 8th birthday party, and are looking for more info.</p>
		<p>The things you&rsquo;re most likely to be looking for are <strong>times</strong> and a <strong>location</strong>.</p>
	</section>

	<section>
		<h2>When?</h2>
		<p>It&rsquo;s on <strong>Sunday 15th March 2022</strong>, and it will start at 2:30pm, so aim for <strong>2:10-2:15pm-ish</strong> at the car park.</p>
	</section>

	<section>
		<h2>Where?</h2>
		<p>The location is <strong>Whippendell Wood</strong> in Chandler&rsquo;s Cross, Rickmansworth. The car park is on Grove Mill Lane, and the postcode for the car park is <strong>WD3 4NA</strong>.</p>
		<p><a href="https://goo.gl/maps/9Sarh6NrDps3RqAY6" target="_blank">Click here to locate the car park on Google Maps</a>.</p>
		<img src="/images/party/party-map.png" alt="Map showing the party location">
	</section>

	<section>
		<h2>The longer version</h2>
		<p>It&rsquo;s an outdoors Bushcraft Party, and it will be run by the fine folks at <a href="http://bushcraftparties.com/kids-parties/" target="_blank">BushcraftParties.com</a>. There will be den/shelter building, making bows and arrows, plenty of games and general outdoor fun.</p>

		<p>Meet in the car park (free parking) at 2:10-2:15pm. There will either be someone to meet you and herd the group to where the party will take place (roughly 10mins walk from car park), or there will be a balloon/decoration marked path - hopefully both. The bushcraft part of the afternoon will start at 2:30pm and is booked to finish at 4:30pm, but the instructors have told us that they often run over a little! The instructor will then leave and we will do food and cake. I would estimate that we will be completely finished somewhere between 5:20-5:30pm(ish!). It should be noted that we may run a few mins late. Also, if you are collecting, and running late, there are plenty of things to do in the woods and we will of course stay until all children are safely with their parents.<p>

		<p>Please feel free to stay at the party with your child, wonder away to explore the woods, or run away and collect at the end - all is completely fine. There will be the instructor, myself and Clive (my husband - for those that don&rsquo;t know), and certainly 2-3 other parents on hand, so plenty of adult supervision. It should be noted that this party is quite deep in the woods and there are no toilet facilities. Plenty of trees and bushes though! I will take wipes too.</p>
		<p>So, to summarise:</p>
		<ul>
			<li>Arrival/drop off 2:10-2:15pm</li>
			<li>Finish time by approx 5:30pm</li>
		</ul>
	</section>

	<section>

		<h2>Clothing</h2>
		<p>Kids should wear weather-appropriate clothes they don&rsquo;t mind getting a bit dirty. If the weather&rsquo;s wet, they should bring coats etc. There will be a tarp shelter, but they will also do activities away from it, so in the event of rain - they will get a little wet.</p>
	</section>

	<section>
		<h2>Contact</h2>
		<p>If for any reason you need to get hold of us either on the day or before, we are:</p>
		<ul>
			<li>Saffron: <a href="mailto:saffron@saffronmurray.com">saffron@saffronmurray.com</a>, 07985 711875</li>
			<li>Clive: <a href="mailto:clive@clivemurray.com">clive@clivemurray.com</a>, 07974 145908</li>
		</ul>
	</section>

</main>
