$breakpoint: 800px;

body {
	background-color: #3cc;
	color: #111;
	font-size: 62.5%;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	padding: 5px;

	@media (min-width: $breakpoint) {
		padding: 0 20px;
	}
}

p {
	margin: 0 0 1em;
	line-height: 1.5;
}

li {
	line-height: 1.5;
	margin: 0.5em 0 0.5em 30px;
	list-style-type: disc;
}

.container {
	max-width: 920px;
	margin: 0 auto;
	padding: 0;

	@media (min-width: $breakpoint) {
		margin: 20px auto;
	}
}

h1 {
	font-family: georgia, serif;
	font-size: 50px;
	margin-bottom: 8px;
	text-align: center;
}

h2 {
	font-family: georgia, serif;
	font-size: 40px;
	margin-bottom: 1em;
	border-bottom: 1px dashed #ccc;
	display: inline-block;
}

.address {
	text-align: center;
	font-size: 14px;
}

header {
	margin-bottom: 30px;
}

header,
main {
	background-color: #ffe;
	padding: 10px 20px;
	box-shadow: 2px 2px 4px rgba(0 0 0 / 40%);

	@media (min-width: $breakpoint) {
		padding: 20px 40px;
		border-radius: 6px;
	}
}

main {
	font-size: 1.5rem;
	text-align: left;

	section {
		padding-top: 1em;
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid #ccc;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	img {
		display: block;
		width: 100%;
		margin: 10px auto;
	}
}

strong {
	font-weight: bold;
}

h3 {
	font-family: georgia, serif;
	font-size: 24px;
	margin: 10px 0;
	text-align: center;
}

em {
	font-style: italic;
}
